
<div class="text-center row scrumBoard">
    <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
        <h3>New User Registration</h3>
        <form class="navbar-form" action="/register" method="post">
            <div class="form-group">
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <input ng-model="user.name" type="text" class="form-control" name="name" placeholder="Name" aria-describedby="sizing-addon2"/>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <input ng-model="user.email" type="email" class="form-control" name="email" placeholder="Email" aria-describedby="sizing-addon2"/>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <input ng-model="user.username" type="text" class="form-control" name="username" placeholder="Username" aria-describedby="sizing-addon2"/>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <input ng-model="user.password" type="password" class="form-control" name="password" placeholder="Password" aria-describedby="sizing-addon2"/>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <input ng-model="user.team" type="text" class="form-control" name="team" placeholder="Team" aria-describedby="sizing-addon2"/>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <input ng-model="user.gitUrl" type="text" class="form-control" name="gitUrl" placeholder="Git URL" aria-describedby="sizing-addon2"/>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="signup()">Register</button>
            </div>
        </form>

        <div><span ng-if="registration_err" class="error">{{error_msg}}</span></div>

    </div>
</div>
