body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#currentTime{
  font-size: 2em;
}

div{
  margin: 0 auto;
}

.scrumBoard .input-group {
  padding: 5px;
}

.error {
  color: red;
}

.inOn{
  color: green;
}

.entryList{
  max-height: 300px;
  overflow: auto;
}
