
<div class="container">
    <div class="row">
        <!-- Highcharts Modal -->
        <div ng-controller="HighchartController" id="highchartsModal" class="modal fade" role="dialog" ng-init="highchart()">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Weekly Chart</h4>
                    </div>
                    <div class="modal-body">
                        <div id="highchartContainer" style="width: 800px; height: 480px; margin: 0 auto"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Welcome, {{user.name}}. This is your admin dashboard</h3>
            <div id="groupMap" my-dir></div>
        </div>
        <div class="col-md-4">
            <h3>Students currently checked in: {{inCount}}</h3>
                <div class="studentList" ng-show="presentList.length">
                    <table class="table table-striped" ng-init="showEntries()">
                        <tr>
                            <th>User</th>
                            <th>Time Logged</th>
                            <th>IP</th>
                        </tr>
                        <tr ng-repeat="el in presentList">
                            <td>{{el.username}}</td>
                            <td>{{timeIn(el.timestamp)}}</td>
                            <td>{{el.ipAddress}}</td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <button type="button" class="btn btn-info" ng-click="seeLog = !seeLog;">Timestamp Log</button><button type="button" class="btn btn-info" data-toggle="modal" data-target="#highchartsModal">Highcharts</button>
        </div>
    </div>



    <div class="row" ng-show="seeLog">
        <div class="col-md-12" ng-show="dataList.length">
            <h3>Most recent activity:</h3>
            <div class="entryList">
                <table class="table table-bordered table-striped" ng-init="showEntries()">
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th>Date and Time</th>
                        <th>Location</th>
                        <th>IP</th>
                    </tr>
                    <tr ng-repeat="el in dataList">
                        <td>{{el.userId}}</td>
                        <td>{{el.action}}</td>
                        <td>{{prettyDate(el.date) | date : "MM/dd/yyyy ' at ' h:mma"}}</td>
                        <td>{{el.geocode}}</td>
                        <td>{{el.ipAddress}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>